.cardDark{
  background-color: #31313196;
}

.card:hover{
  border: 0.5px solid rgb(206, 217, 142);
}

.button{
  margin-top: 2rem;
  color: #FF0000;
  background-color: #E0FFFF;
  font-weight: bold;

.colorLight{
  color: #98FB98;
}
}

