.footerWrapper {
  margin-top: auto;
  flex-direction: column;
  display: flex;
}

.top {
  display: flex;
  text-transform: uppercase;
  padding: 0.5rem;
  background: #9d9a9a;
  color: white;  
  max-width: 300px; 
  font-size: 10px;
  margin: auto;
  margin-top: 2rem;
  border: none;   
  }

  .top:hover{
    background-color: rgb(97, 92, 92) !important;
  }

  .seta{
    max-width: 1.5rem;
    height: auto;  
  }  

.footer {
  padding: 2rem ;
  margin: 1rem;
}

.icons {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 1rem;
  filter: brightness(0);
}

.iconsDark{
  filter: brightness(0) invert(1);
}

.dhLogo{
  max-width: 50%;
}

.icon {
  max-width: 2rem;
  height: auto;
}