.cardDark{
  background-color: #31313196;
}

.card:hover{
  border: 0.5px solid rgb(52, 52, 30);
  transform: scale(1.1);
  cursor: pointer;
}

.favButton{
  width: 100%;
}

.card:hover{
  border: 0.5px solid rgb(86, 86, 63);
}

.CardBody{
  width: 100%;

}

.title{
  height: 2rem;
}